<%
	/** Шаблон главной страницы


	/** установка основного лейаута */
	app.setLayout('base.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	app.require('core.js')(app);

	let title = "Популярные вопросы";
	let image = 'assets/images/breadcrumbs/faq.jpg';

	const {SvgIcon} = app.el;

    const panelItems = [
        {
            question: 'С чего начинается продвижение сайта, старт работ по поисковому продвижению и раскрутке сайта в компании «SEOEVOLUTION». Базовые понятия продвижения сайтов',
            answer: 'Данный трафик в основном идет с поисковой системы Google. Для учета пользователей, перешедших по неизвестным фразам, которые «Не определены» мы: ① высчитываем какая доля заходов на ваш сайт производится по запросам с явным указанием бренда или с вхождением стоп-слов, ② высчитываем проценты целевых и «мусорных» переходов, ③ экстраполируем данные на те заходы, фраза по которым «Не определена», ④ производим окончательный расчет. ' +
            'Таким образом, вы оплачиваете только целевой трафик независимо от того, определена точная фраза захода (для Яндекса и ряду других поисковых систем) или нет (для Google)'

        },
        {
            question: 'Я заметил в Метрике, что очень большое количество запросов отображается как «Не определена», то есть не ясно по какому запросу пришел посетитель. Как учитывается этот трафик?',
            answer: 'Данный трафик в основном идет с поисковой системы Google. Для учета пользователей, перешедших по неизвестным фразам, которые «Не определены» мы: ① высчитываем какая доля заходов на ваш сайт производится по запросам с явным указанием бренда или с вхождением стоп-слов, ② высчитываем проценты целевых и «мусорных» переходов, ③ экстраполируем данные на те заходы, фраза по которым «Не определена», ④ производим окончательный расчет. ' +
            'Таким образом, вы оплачиваете только целевой трафик независимо от того, определена точная фраза захода (для Яндекса и ряду других поисковых систем) или нет (для Google)'

        },
        {
            question: 'Статистика Метрики и Аналитики немного отличаются, по какой системе вы будете считать количество посетителей?',
            answer: 'Данный трафик в основном идет с поисковой системы Google. Для учета пользователей, перешедших по неизвестным фразам, которые «Не определены» мы: ① высчитываем какая доля заходов на ваш сайт производится по запросам с явным указанием бренда или с вхождением стоп-слов, ② высчитываем проценты целевых и «мусорных» переходов, ③ экстраполируем данные на те заходы, фраза по которым «Не определена», ④ производим окончательный расчет. ' +
            'Таким образом, вы оплачиваете только целевой трафик независимо от того, определена точная фраза захода (для Яндекса и ряду других поисковых систем) или нет (для Google)'

        },
        {
            question: 'Я читал, что есть нечестные на руку компании, которые могут нагонять ненастоящих посетителей, как мы сможем быть защищены от такой возможной ситуации? Можете сказать честно?',
            answer: 'Данный трафик в основном идет с поисковой системы Google. Для учета пользователей, перешедших по неизвестным фразам, которые «Не определены» мы: ① высчитываем какая доля заходов на ваш сайт производится по запросам с явным указанием бренда или с вхождением стоп-слов, ② высчитываем проценты целевых и «мусорных» переходов, ③ экстраполируем данные на те заходы, фраза по которым «Не определена», ④ производим окончательный расчет. ' +
            'Таким образом, вы оплачиваете только целевой трафик независимо от того, определена точная фраза захода (для Яндекса и ряду других поисковых систем) или нет (для Google)'

        },
        {
            question: 'Мы сами занимаемся доработкой сайта, отсюда вопрос, какие работы предстоит делать? И насколько большой их объем чтобы мы могли посчитать свои ресурсы?',
            answer: 'Данный трафик в основном идет с поисковой системы Google. Для учета пользователей, перешедших по неизвестным фразам, которые «Не определены» мы: ① высчитываем какая доля заходов на ваш сайт производится по запросам с явным указанием бренда или с вхождением стоп-слов, ② высчитываем проценты целевых и «мусорных» переходов, ③ экстраполируем данные на те заходы, фраза по которым «Не определена», ④ производим окончательный расчет. ' +
            'Таким образом, вы оплачиваете только целевой трафик независимо от того, определена точная фраза захода (для Яндекса и ряду других поисковых систем) или нет (для Google)'

        },
        {
            question: 'Опишите, какие стадии работы вы предлагаете, сразу начинаете считать трафик или будет какой-то подготовительный этап?',
            answer: 'Данный трафик в основном идет с поисковой системы Google. Для учета пользователей, перешедших по неизвестным фразам, которые «Не определены» мы: ① высчитываем какая доля заходов на ваш сайт производится по запросам с явным указанием бренда или с вхождением стоп-слов, ② высчитываем проценты целевых и «мусорных» переходов, ③ экстраполируем данные на те заходы, фраза по которым «Не определена», ④ производим окончательный расчет. ' +
            'Таким образом, вы оплачиваете только целевой трафик независимо от того, определена точная фраза захода (для Яндекса и ряду других поисковых систем) или нет (для Google)'

        },

    ]

%>

<%- app.widget('sections/breadcrumbs.ejs', {title, image}) %>
<%- app.widget('sections/write-us.ejs')%>

<div class="faq">
	<div class="container">
		<div class="js-init" data-accordion="">

            <% function panel (arr) {-%>
                <% arr.forEach(item => { %>
                    <div data-accordion="item" class="_mtb-def jsPanel panel panel--accordion faq-item " id="panel">
                            <div class="panel__heading" data-accordion="toggle">
                                <div class="faq-item__question"><%- item.question %> </div>
                                <div class="faq-item__svg plus">
                                    <%- new SvgIcon('plus1') %>
                                </div>
                                <div class="faq-item__svg minus" >
                                    <%- new SvgIcon('minus') %>
                                </div>
                            </div>
                            <div class="panel__body" data-accordion="content" style="display: none;">
                                <div class="faq-item__answer"><%- item.answer %> </div>
                            </div>

                    </div>
                <% }); %>
            <% } -%>

            <%- panel(panelItems) %>
	    </div>
    </div>
</div>

<%- app.widget('sections/order-form.ejs')%>
