<div class="wysiwyg new">
	<div class="container container--tiny">
		<div class="new__text">
		<p>Крупнейшая <b>соцсеть объявила о внедрении инструмента, помогающего компаниям из сферы туризма продвигать
				свои услуги.</b> Речь идет о формате Collection, который позволяет создавать динамическую рекламу и
			демонстрировать ее на трех площадках:</p>
		<ul>
			<li>Facebook</li>
			<li>Instagram</li>
			<li>Audience Network</li>
		</ul>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae posuere leo. Vivamus nec feugiat sapien, vitae pharetra risus. Mauris mollis id lectus ut interdum. Fusce non urna imperdiet, semper velit id, maximus arcu. Vivamus ut lacus eu eros cursus pretium at suscipit diam. Pellentesque malesuada eget sapien sed dapibus. Duis urna lacus, consequat in facilisis eu, iaculis non risus. Vestibulum iaculis sit amet risus in maximus. Suspendisse in hendrerit purus, in faucibus felis. Sed condimentum tincidunt lacus sed posuere. Pellentesque aliquam finibus viverra. Praesent ut cursus lacus, non vestibulum lectus. Etiam varius turpis ac lectus varius pulvinar.</p>
			<p>Sed ligula libero, blandit eget lacinia ut, consectetur sed metus. Suspendisse rhoncus eros metus. Integer non ex dui. Nulla finibus neque eget tellus commodo scelerisque. Nunc finibus vel ante a scelerisque. Suspendisse potenti. Vestibulum non neque elit. Ut commodo odio et ligula tristique, id aliquet sem sagittis. Curabitur semper turpis eget eros dignissim, non facilisis neque efficitur. Mauris et neque ullamcorper, maximus tellus a, auctor magna.
			</p>

		<p></p>
		<p></p>
		<img src="/Media/assets/images/items1.jpg">
		<img src="/Media/assets/images/items2.jpg">
		<p></p>
		<p></p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae posuere leo. Vivamus nec feugiat sapien, vitae pharetra risus. Mauris mollis id lectus ut interdum. Fusce non urna imperdiet, semper velit id, maximus arcu. Vivamus ut lacus eu eros cursus pretium at suscipit diam. Pellentesque malesuada eget sapien sed dapibus. Duis urna lacus, consequat in facilisis eu, iaculis non risus. Vestibulum iaculis sit amet risus in maximus. Suspendisse in hendrerit purus, in faucibus felis. Sed condimentum tincidunt lacus sed posuere. Pellentesque aliquam finibus viverra. Praesent ut cursus lacus, non vestibulum lectus. Etiam varius turpis ac lectus varius pulvinar.</p>
		</div>
		<div class="grid _justify-between">
			<div class=" _grid-divider _def-show _opacity"></div>
				<div class="gcell">
				<div class="new__info">
					<div class="date">
						<%- new app.el.SvgIcon('date')%>
						<span>21-11-2017</span>
					</div>
					<div class="views">
						<%- new app.el.SvgIcon('views')%>
						<span>22</span>
					</div>
				</div>
			</div>
				<div class="gcell">
					<div class="socials-list">
						<a href="#"
								class="social-link social-link--facebook"><%- new app.el.SvgIcon('facebook') %></a>
						<a href="#"
								class="social-link social-link--twitter"><%- new app.el.SvgIcon('twitter') %></a>
						<a href="#"
								class="social-link social-link--google-plus"><%- new app.el.SvgIcon('google-plus') %></a>
						<a href="#"
								class="social-link social-link--vkontakte"><%- new app.el.SvgIcon('vkontakte') %></a>
						<a href="#"
								class="social-link social-link--instagram"><%- new app.el.SvgIcon('instagram') %></a>
					</div>
				</div>
			</div>
		<div class="grid grid--ms-3 grid--1 _justify-center _ms-pt-lg">
			<button  class="button button--icon">
				<%- new app.el.SvgIcon('arrow')%>
				к списку новостей</button>
		</div>
	</div>
</div>
