<div class="section _bg-image-contain" style="background-image: url(/Media/assets/images/backgrounds/pseudo-chart.png);">
	<div class="container">
		<div class="section__title">Преимущества работы с нами</div>
		<div class="section__subtitle">Описание преимущества описание преимущества описание преимущества описание
			<br> преимущества описание преимущества описание преимущества описание преимущества
			<br>описание преимущества
		</div>
		<div class="work-advantages">
			<div class="work-advantage">
				<div class="work-advantage__name">Преимущество1</div>
				<div class="work-advantage__icon"><%- new app.el.SvgIcon('helpful5')%></div>
			</div>
			<div class="work-advantage">
				<div class="work-advantage__name">Преимущество2</div>
				<div class="work-advantage__icon"><%- new app.el.SvgIcon('helpful5')%></div>
			</div>
			<div class="work-advantage">
				<div class="work-advantage__name">Преимущество3</div>
				<div class="work-advantage__icon"><%- new app.el.SvgIcon('helpful5')%></div>
			</div>
			<div class="work-advantage">
				<div class="work-advantage__name">Преимущество4</div>
				<div class="work-advantage__icon"><%- new app.el.SvgIcon('helpful5')%></div>
			</div>
			<div class="work-advantage">
				<div class="work-advantage__name">Преимущество5</div>
				<div class="work-advantage__icon"><%- new app.el.SvgIcon('helpful5')%></div>
			</div>
		</div>
	</div>
</div>
